<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	<!--  General Settings -->
		<add key="wordFileName"  value="ShaolinQuestions.Doc" />
		<add key="wordFilePath"  value="d:\" />
		<add key="beltLevel"  value="2nd Brown" /> 
		<add key="wordLocation"  value="C:\\Program Files\\Microsoft Office\\OFFICE11\\winword.exe" />
		
		
	<!--  Data  -->			
		<!---  Lohans  -->
		<add key="totalLohansYellow"  value="5" />
		<add key="totalLohansBlue"  value="15" />
		<add key="totalLohansGreen"  value="22" />
		<add key="totalLohansBrown"  value="30" />
		<add key="totalLohansBlack"  value="30" />
		<add key="lohan1"  value="Block-punch. Block down, step." />
		<add key="lohan2"  value="Block-punch, block down, block-punch, twist hit-kick." />
		<add key="lohan3"  value="Block-finger thrust, block-punch, twist hit-kick" />
		<add key="lohan4"  value="Block, monkey grab, grab with other hand and pivot foot, front sweep." />
		<add key="lohan5"  value="Double front kick." />
		<add key="lohan6"  value="Block-punch, 2x twist-hit, block back (rbs), back fist (bs), twist hit, twist hit-kick." />
		<add key="lohan7"  value="Block, monkey grab, grab w/other hand, pivot foot, front sweep, back sweep, front kick." />
		<add key="lohan8"  value="2 front kicks, turn, 2 side thrusts." />
		<add key="lohan9"  value="4 kicks ( 2 front kicks, side thrust, mule kick)." />
		<add key="lohan10"  value="Inside block, vertical punch(hs) outside block vertical punch (hs)(churn butter)." />
		<add key="lohan11"  value="Block, 3x hit-kick(reverse punches)." />
		<add key="lohan12"  value="Elbow jab back, turn and reverse punch, block/strike down, stomp-kick, step and turn." />
		<add key="lohan13"  value="Block (rbs), inside smash, front kick, finger thrust." />
		<add key="lohan14"  value="Block (rbs), outside smash, blade kick." />
		<add key="lohan15"  value="Block, monkey grab, grab with other hand, pivot foot, front sweep, pull-back trap, side thrust." />
		<add key="lohan16"  value="Horizontal punch (hs), punch (bs), block-punch, block down." />
		<add key="lohan17"  value="Block-punch (bs), punch (ns), block-punch (bs)." />
		<add key="lohan18"  value="Block punch, wrist twist, strike, front sweep, front kick." />
		<add key="lohan19"  value="Horizontal punch (hs) back fist (ns), reverse punch-kick (with front leg), twist hit kick." />
		<add key="lohan20"  value="Block-punch, backfist, block-punch, front kick with block." />
		<add key="lohan21"  value="Block, block/hit hit high, jump back block-hit low (hs) move forward, move back block up-reverse punch (cs)." />
		<add key="lohan22"  value="Block,  block/hit hit high, jump forward block-hit low (hs) move back, move forward block up-reverse punch (cs)." />
		<add key="lohan23"  value="Block-punch, back fist, 2x twist hit-backfist, block-punch, front kick with block (7 punches)." />
		<add key="lohan24"  value="Block-punch (bs), reverse punch (cs) block-punch (bs), reverse punch (cs), block-punch (bs) (5 punches)." />
		<add key="lohan25"  value="Block-punch, wrist-twist, strike, front sweep, back sweep-punch, front kick with block." />
		<add key="lohan26"  value="Block-punch, block-grab, roundhouse kick." />
		<add key="lohan27"  value="Double block, double punch (bs), double block (hs), block-punch (bs), twist hit kick, reverse punch-kick." />
		<add key="lohan28"  value="Double block, double punch (bs), block-chop (cs), block-punch (bs), twist hit kick, reverse punch-kick." />
		<add key="lohan29"  value="Step to rear and elbow-reverse punch, turn reverse-punch, block up-horizontal punch (cs), block ribs and 2x block-punch, block down." />
		<add key="lohan30"  value="Step to rear and elbow-reverse punch, turn and step while blocking, spinning double smash, block-punch, wrist twist, strike, front sweep, front kick (Note there is an additional block-punch (bs) between the two halves of this question)." />
		
		<!-- Sparring Techniques  -->
		<add key="totalSpTechsYellow"  value="10" />
		<add key="totalSpTechsBlue"  value="10" />
		<add key="totalSpTechsGreen"  value="15" />
		<add key="totalSpTechsBrown"  value="20" />
		<add key="spTech1"  value="Reverse punch." />
		<add key="spTech2"  value="Cat stance triple hit." />
		<add key="spTech3"  value="Jump side thrust (to knee) front kick, reverse punch." />
		<add key="spTech4"  value="Jump front sweep, front kick, reverse punch." />
		<add key="spTech5"  value="Double reverse punch, jump front kick with block." />
		<add key="spTech6"  value="Jump back sweep, front kick, reverse punch." />
		<add key="spTech7"  value="Cross back hook kick." />
		<add key="spTech8"  value="Jump monkey grab, front sweep, reverse punch." />
		<add key="spTech9"  value="Jump side thrust, block down." />
		<add key="spTech10"  value="Jump monkey grab, chop (with a yell)." />
		<add key="spTech11"  value="Block down, reverse punch." />
		<add key="spTech12"  value="Block down, reverse punch, block up and reverse punch." />
		<add key="spTech13"  value="Block, 3 vertical punches, front kick with block." />
		<add key="spTech14"  value="Side thrust, front kick, block, 3 vertical punches, step." />
		<add key="spTech15"  value="Inside smash, spinning side thrust, block, 3 vertical punches, front kick with block." />
		<add key="spTech16"  value="Jump front sweep, spinning hook kick, block and twist hit, roundhouse kick." />
		<add key="spTech17"  value="Cross kick (trap the knee), roundhouse kick, 3 back fists." />
		<add key="spTech18"  value="Jump back sweep, spinning hook kick, block and twist hit, roundhouse kick." />
		<add key="spTech19"  value="Jump side thrust (to knee), jump side thrust, jump monkey grab, chop (with a yell)." />
		<add key="spTech20"  value="Jump hook kick, block and twist hit, roundhouse kick, fist block down (rear hand), back fist (lead hand)." />
		
		<!-- Chin Na -->
		<add key="totalChinNaYellow"  value="10" />
		<add key="totalChinNaBlue"  value="20" />
		<add key="totalChinNaGreen"  value="25" />
		<add key="totalChinNaBrown"  value="30" />
		<add key="ChinNa1"  value="Pull on wrist." />
		<add key="ChinNa2"  value="Push on chest." />
		<add key="ChinNa3"  value="Grab from behind" />
		<add key="ChinNa4"  value="Wrist twist." />
		<add key="ChinNa5"  value="Grab from behind and lift." />
		<add key="ChinNa6"  value="Full nelson." />
		<add key="ChinNa7"  value="Front choke with hands." />
		<add key="ChinNa8"  value="Front hair grab." />
		<add key="ChinNa9"  value="Hair grab from behind." />
		<add key="ChinNa10"  value="Head lock." />
		<add key="ChinNa11"  value="Shirt Grab." />
		<add key="ChinNa12"  value="Elbow press." />
		<add key="ChinNa13"  value="Arm twisted behind back." />
		<add key="ChinNa14"  value="Choke with hands from behind." />
		<add key="ChinNa15"  value="Handshake." />
		<add key="ChinNa16"  value="Hands clasped and twisted: low: middle: high." />
		<add key="ChinNa17"  value="Arm choke from behind." />
		<add key="ChinNa18"  value="Wrist grab, shoulder press, push" />
		<add key="ChinNa19"  value="Arm lock." />
		<add key="ChinNa20"  value="Both wrists grabbed." />
		<add key="ChinNa21"  value="Wrist grab" />
		<add key="ChinNa22"  value="Wrist twisted up." />
		<add key="ChinNa23"  value="Indonesian Handcuff." />
		<add key="ChinNa24"  value="Arm lock with fingers grabbed." />
		<add key="ChinNa25"  value="Arm choke from behind with wrist twisted behind back (2 variations)." />
		<add key="ChinNa26"  value="Wrist twisted up, palm up." />
		<add key="ChinNa27"  value="Wrist twisted behind back (like a “7”)." />
		<add key="ChinNa28"  value="Reverse Indonesian handcuff." />
		<add key="ChinNa29"  value="Reverse Indonesian handcuff, finger grabbed." />
		<add key="ChinNa30"  value="Finger split." />
		
		<!-- One Step Sparring techniques and Fighting Techniques-->
		<add key="totalOneStepYellow"  value="9" />
		<add key="totalOneStepBlue"  value="9" />
		<add key="totalOneStepGreen"  value="19" />
		<add key="totalOneStepBrown"  value="19" />
		<!--  One Step 1 through 9 are One Step Sparring Techniques 1 - 9   Ie Pu Tue Ta -->
		<add key="OneStep1"  value="Outside block, horizontal punch." />
		<add key="OneStep2"  value="Inside block, horizontal punch." />
		<add key="OneStep3"  value="Outside block, chop, horizontal punch." />
		<add key="OneStep4"  value="Inside block, chop, horizontal punch." />
		<add key="OneStep5"  value="Outside block, side thrust." />
		<add key="OneStep6"  value="Inside block, front kick." />
		<add key="OneStep7"  value="Capture arm, break, elbow strike/chop to ribs, palm strike." />
		<add key="OneStep8"  value="Block kick outside, kick under." />
		<add key="OneStep9"  value="Block kick inside, double front kick." />
		<!--  One Step 11 through 19 are One Step Fighting Techniques 1 - 10    Ie Pu Fa Shu -->
		<add key="OneStep10"  value="Block, twist the arm, front kick." />
		<add key="OneStep11"  value="Block, strike and throw/sweep, punch." />
		<add key="OneStep12"  value="Block/hit, spinning wheel kick." />
		<add key="OneStep13"  value="Block/hit, spinning elbow strike, back sweep, front kick." />
		<add key="OneStep14"  value="Outside block, knee trap, 2x chop." />
		<add key="OneStep15"  value="Block down, strike up. (bird)" />
		<add key="OneStep16"  value="Double forearm block, back fist . (haymaker)" />
		<add key="OneStep17"  value="Pivoting block, chop ribs, hit head (t’ai chi)." />
		<add key="OneStep18"  value="Underhand stab (2 ways)." />
		<add key="OneStep19"  value="Overhand stab (2 ways)." />
		
		<!--  questions -->
		<add key="totalYellowForms"  value="0" />
		<add key="totalBlueForms"  value="2" />
		<add key="totalGreenForms"  value="4" />
		<add key="totalBrownForms"  value="6" />
		<add key="totalBlackForms"  value="14" />
		<add key="form1"  value="Se Meng T'ao Lian (Reversibly Facing Four Opponents/Directions)" />
		<add key="form2"  value="Fei Hu Ch'u Tung (Flying Tiger Comes Out Of The Cave)" />
		<add key="form3"  value="T'ai P'eng Sin Kune (Great Bird Opens The Wings)" />
		<add key="form4"  value="Se Mien Pa Fang Pang (Four Faces, Eight Directions Double End Staff)" />
		<add key="form5"  value="Lohan Ch'ien (Fist Of The Enlightened One)" />
		<add key="form6"  value="Pei Fang Ch'i Kai Pang (Short Stick Of The Northern Beggar)" />
		
		<!--  Questions -->
		<add key="totalYellowQuestions"  value="20" />
		<add key="totalBlueQuestions"  value="40" />
		<add key="totalGreenQuestions"  value="60" />
		<add key="totalBrownQuestions"  value="90" />
		<add key="question1"  value="What is the meaning of Shao-Lin Ssu?" />
		<add key="answer1"  value="Young Forest Temple" />
		<add key="question2"  value="Where was the original Shao-Lin Ssu located? " />
		<add key="answer2"  value="The foot of Sung Mountain, Honan Province" />
		<add key="question3"  value="What dynasty was ruling China when the original Shao-Lin Ssu was built?" />
		<add key="answer3"  value="Northern Wei Dynasty 386 AD - 534 AD" />
		<add key="question4"  value="Who was the traditional founder of the Shao-Lin Art?" />
		<add key="answer4"  value="Chinese: Pu Ti Ta Mo  | Sanskrit: Boddhi Darmha  |  Japanese: Daruma" />
		<add key="question5"  value="In what century did the Shao-Lin founder come to China?" />
		<add key="answer5"  value="6th century" />
		<add key="question6"  value="What type of Buddhism was brought to the Shao-Lin Ssu by the Shao-Lin founder?" />
		<add key="answer6"  value="Chinese: Ch'an | Sanskrit: Dhyana |  Japanese: Zen " />
		<add key="question7"  value="What is the Chinese name of the 49 excersises that the Shao-Lin founder taught to the Shao-Lin monks?" />
		<add key="answer7"  value="I Chin Ching" />
		<add key="question8"  value="What is the meaning of the above term?" />
		<add key="answer8"  value="Muscle Tendon Change Classic." />
		<add key="question9"  value="What is the literal meaning of  'CHIN NA'?" />
		<add key="answer9"  value="Seize and Hold" />
		<add key="question10"  value="What dynasty was ruling China when the 13 monks rescued the Emporor's son?" />
		<add key="answer10"  value="T'ang." />
		<add key="question11"  value="What were the three classes of Shaol-Lin martial artists?" />
		<add key="answer11"  value="monks, preists, and practitioners." />
		<add key="question12"  value="What is the name of the region in the abdomen where we focus our breathing?" />
		<add key="answer12"  value="Tan Tien" />
		<add key="question13"  value="What is the Chinese term for energy?" />
		<add key="answer13"  value="Chi" />
		<add key="question14"  value="Which flap of the uniform jacket goes on top??" />
		<add key="answer14"  value="Right" />
		<add key="question15"  value="Which way should the belt knot open?" />
		<add key="answer15"  value="to the right" />
		<add key="question16"  value="At what level does a Shao-Lin student become a disciple?" />
		<add key="answer16"  value="1st degree black belt" />
		<add key="question17"  value="At what level does a Shao-Lin disciple become a Master?" />
		<add key="answer17"  value="5th degree black belt" />
		<add key="question18"  value="Who is the current 10th degree Grandmaster of the Shao-Lin Art?" />
		<add key="answer18"  value="Grand Master Sin Kwang The" />
		<add key="question19"  value="What is the meaning of the term 'wu shu'?" />
		<add key="answer19"  value="'Martial Arts' or 'A gymnastic/acrobatic Chinese sport'" />
		<add key="question20"  value="What is the meaning of the term 'Kung Fu'?" />
		<add key="answer20"  value="Mastery through time and effort" />
		<add key="question21"  value="What are the five animal styles and the aspects they develop?" />
		<add key="answer21"  value="Tiger: Bones |  Crane: sinews  |  Leapord : muscle |  Dragon : spirit  |  Snake : energy" />
		<add key="question22"  value="Where were six other Shao-Lin temples located?" />
		<add key="answer22"  value="Fukien; Shan Tung; Szechuan (omei shan);  Kwang Tung; WuTang; Hua" />
		<add key="question23"  value="In what three ways were the names of the Shao-Lin styles derived?" />
		<add key="answer23"  value="t" />
		<add key="question24"  value="?" />
		<add key="answer24"  value="t" />
		<add key="question25"  value="?" />
		<add key="answer25"  value="t" />
		<add key="question26"  value="?" />
		<add key="answer26"  value="t" />
		<add key="question27"  value="?" />
		<add key="answer27"  value="t" />
		<add key="question28"  value="?" />
		<add key="answer28"  value="t" />
		<add key="question29"  value="?" />
		<add key="answer29"  value="t" />
		<add key="question30"  value="?" />
		<add key="answer30"  value="t" />
		<add key="question31"  value="?" />
		<add key="answer31"  value="t" />
		<add key="question32"  value="?" />
		<add key="answer32"  value="t" />
		<add key="question33"  value="?" />
		<add key="answer33"  value="t" />
		<add key="question34"  value="?" />
		<add key="answer34"  value="t" />
		<add key="question35"  value="?" />
		<add key="answer35"  value="t" />
		<add key="question36"  value="?" />
		<add key="answer36"  value="t" />
		<add key="question37"  value="?" />
		<add key="answer37"  value="t" />
		<add key="question38"  value="?" />
		<add key="answer38"  value="t" />
		<add key="question39"  value="?" />
		<add key="answer39"  value="t" />
		<add key="question40"  value="?" />
		<add key="answer40"  value="t" />
		<add key="question41"  value="?" />
		<add key="answer41"  value="t" />
		<add key="question42"  value="?" />
		<add key="answer42"  value="t" />
		<add key="question43"  value="?" />
		<add key="answer43"  value="t" />
		<add key="question44"  value="?" />
		<add key="answer44"  value="t" />
		<add key="question45"  value="?" />
		<add key="answer45"  value="t" />
		<add key="question46"  value="?" />
		<add key="answer46"  value="t" />
		<add key="question47"  value="?" />
		<add key="answer47"  value="t" />
		<add key="question48"  value="?" />
		<add key="answer48"  value="t" />
		<add key="question49"  value="?" />
		<add key="answer49"  value="t" />
		<add key="question50"  value="?" />
		<add key="answer50"  value="t" />
		<add key="question51"  value="?" />
		<add key="answer51"  value="t" />
		<add key="question52"  value="?" />
		<add key="answer52"  value="t" />
		<add key="question53"  value="?" />
		<add key="answer53"  value="t" />
		<add key="question54"  value="?" />
		<add key="answer54"  value="t" />
		<add key="question55"  value="?" />
		<add key="answer55"  value="t" />
		<add key="question56"  value="?" />
		<add key="answer56"  value="t" />
		<add key="question57"  value="?" />
		<add key="answer57"  value="t" />
		<add key="question58"  value="?" />
		<add key="answer58"  value="t" />
		<add key="question59"  value="?" />
		<add key="answer59"  value="t" />
		<add key="question60"  value="?" />
		<add key="answer60"  value="t" />
		<add key="question61"  value="?" />
		<add key="answer61"  value="t" />
		<add key="question62"  value="?" />
		<add key="answer62"  value="t" />
		<add key="question63"  value="?" />
		<add key="answer63"  value="t" />
		<add key="question64"  value="?" />
		<add key="answer64"  value="t" />
		<add key="question65"  value="?" />
		<add key="answer65"  value="t" />
		<add key="question66"  value="?" />
		<add key="answer66"  value="t" />
		<add key="question67"  value="?" />
		<add key="answer67"  value="t" />
		<add key="question68"  value="?" />
		<add key="answer68"  value="t" />
		<add key="question69"  value="?" />
		<add key="answer69"  value="t" />
		<add key="question70"  value="?" />
		<add key="answer70"  value="t" />
		<add key="question71"  value="?" />
		<add key="answer71"  value="t" />
		<add key="question72"  value="?" />
		<add key="answer72"  value="t" />
		<add key="question73"  value="?" />
		<add key="answer73"  value="t" />
		<add key="question74"  value="?" />
		<add key="answer74"  value="t" />
		<add key="question75"  value="?" />
		<add key="answer75"  value="t" />
		<add key="question76"  value="?" />
		<add key="answer76"  value="t" />
		<add key="question77"  value="?" />
		<add key="answer77"  value="t" />
		<add key="question78"  value="?" />
		<add key="answer78"  value="t" />
		<add key="question79"  value="?" />
		<add key="answer79"  value="t" />
		<add key="question80"  value="?" />
		<add key="answer80"  value="t" />
		<add key="question81"  value="?" />
		<add key="answer81"  value="t" />
		<add key="question82"  value="?" />
		<add key="answer82"  value="t" />
		<add key="question83"  value="?" />
		<add key="answer83"  value="t" />
		<add key="question84"  value="?" />
		<add key="answer84"  value="t" />
		<add key="question85"  value="?" />
		<add key="answer85"  value="t" />
		<add key="question86"  value="?" />
		<add key="answer86"  value="t" />
		<add key="question87"  value="?" />
		<add key="answer87"  value="t" />
		<add key="question88"  value="?" />
		<add key="answer88"  value="t" />
		<add key="question89"  value="?" />
		<add key="answer89"  value="t" />
		<add key="question90"  value="?" />
		<add key="answer90"  value="t" />	
	</appSettings>
</configuration>






















